<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ndfdXMLBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ndfdXMLBinding1" />
                <binding name="CalculatorSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://graphical.weather.gov:443/xml/SOAP_server/ndfdXMLserver.php"
                binding="basicHttpBinding" bindingConfiguration="ndfdXMLBinding"
                contract="WSMeteo.ndfdXMLPortType" name="ndfdXMLPort" />
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap"
                contract="Calcu.CalculatorSoap" name="CalculatorSoap" />
        </client>
    </system.serviceModel>
</configuration>